<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Movie</title>
</head>
<body>
    <div class="container">
        <form>
            <div class="mb-3">
                <label for="searchMovie" class="form-label">Search for Movie:</label>
                <input type="text" class="form-control" name="SearchMovie">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <p>Searching for {{searchTerm1}}</p>

        </div>
    </div>
</body>
</html>
